.currseason {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5, 1fr);
}

@media screen and (max-width: 69em) {
  .currseason {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 44em) {
  .currseason {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* @media screen and (max-width: 25em) {
    .currseason {
        grid-template-columns: repeat(1,1fr)
    };
} */
